
.active {
    background-color: #B0C4DE;
    color: #fff;    
}

body {
    background-color: #B0C4DE;
    font-family: verdana;
    font-size: 14px;
	margin: 0;    
}

-#breadcrumbs {
 -    padding: 15px;
 -}
 -
 -#breadcrumbs a {
 -    color: #B0C4DE;
 -    text-decoration: none;
 -}
 -
 -#breadcrumbs a:hover {
 -    text-decoration: underline;
 -}


.centertag {
    margin: 0 auto;
}



#container {
    background-color: #fff;
    margin: 0 auto;
    width: 1200px;
}

#content {
    padding: 15px;
}

#header {
    font-size: 4em;
    padding: 10px 0px;    
    text-align: center;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}

.formbuttons {
    margin-top: 15px;
}

#header a {
    color:#B0C4DE;
    font-variant: small-caps;
    text-decoration: none;
}

#header a:hover {
    color: #000;
}

#headersubtext {
    font-size: 0.5em;
}

#headersubtext a {
    color: #B0C4DE;
    text-decoration: none;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #B0C4DE;
    border-color: #B0C4DE;
    color: #fff;;
    font-family: verdana;
    font-size: 1.1em;
}

input[type=email],
input[type=password],
input[type=text],
select {
    background-color: #fff;
    border-color: #000; 
    color: #000;
    font-family: verdana;
    font-size: 1.1em;
    margin: 0.1em;
    padding-left: 0.2em;
}



#menu {
    background-color: #fff;
}

