
.active {
    background-color: #6A5ACD;
    color: #fff;    
}


body {
    background-color: #6A5ACD;
    font-family: verdana;
    font-size: 14px;
	margin: 0;    
}

.centertag {
    margin: 0 auto;
}



#container {
    background-color: #fff;
    margin: 0 auto;
    width: 1200px;
}

#content {
    padding: 15px;
}

#header {
    font-size: 4em;
    padding: 10px 0px;    
    text-align: center;
}



.formbuttons {
    margin-top: 15px;
}


#header a {
    color:#6A5ACD;
    font-variant: small-caps;
    text-decoration: none;
 
}



#menu {
    background-color: #fff;
}


