
.active {
    background-color: #7FB3D5;
    color: #fff;    
}


body {
    background-color: #7FB3D5;
    font-family: sans-serif;
    font-size: 14px;
	margin: 0;    
}

.centertag {
    margin: 0 auto;
}



#container {
    background-color: #fff;
    margin: 0 auto;
    width: 1200px;
}

#content {
    padding: 15px;
}

#header {
    font-size: 4em;
    padding: 10px 0px;    
    text-align: center;
}

#header a {
     color:#2471A3;
     font-variant: small-caps;
     text-decoration: none;
 
 }

